body {
    font-family: Georgia;
    background-image: linear-gradient(to bottom right, #fde7f0, #fffcf2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-image: linear-gradient(to bottom right, #f25f66, #fbd8c9);
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
    font-family: Georgia;
    text-shadow: 0 0 5.5px #e98686;
    box-shadow: 0 0 3.5px 2.5px #eb5058;
    transition: 0.3s;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: #eca89f;
    transition: 0.3s;
    text-shadow: 0 0 5px #f8cdcd;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}
h1:hover {
    color: #eccc9a;
    text-shadow: 0 0 6px #ffe7c3;
}
.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-image: linear-gradient(to bottom right, #f25f66, #fbd8c9);
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
    border-radius: 7.5px;
    box-shadow: 0 0 3.5px 2.5px #eb5058;
    transition: 0.3s;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    color: white;
    position: fixed;
    top: 250px;
    right: 0px;
    background-image: linear-gradient(to bottom right, #f25f66, #fbd8c9);
    width: 97.5px;
    box-shadow: 0 0 3.5px 2.5px #eb5058;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0 0 5.5px #e98686;
    transition: 0.3s;
    font-size: 15px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
    transition: 0.3s;
    text-shadow: 0 0 5.5px #f8cdcd;
    box-shadow: 0 0 10px 5px #f56c73;
    border-radius: 7.5px;
    color: #eca89f;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.iphone13 {
    position: relative;
}
.proffesionals {
    position: absolute;
    left: 455px;
}
.button:hover {
    text-shadow: 0 0 5.5px #d4a660;
    box-shadow: 0 0 5px 4.5px #ebb550;
    transform: scale(1.25);
    margin: 25px;
    background-image: linear-gradient(to bottom right, #f2b75f, #fbf2c9);
}
.nav-link:hover {
    font-size: 35px;
    text-shadow: 0 0 5.5px #fff8b5;
    font-family: Georgia;
    color: #eccc9a;
}
.nav-link {
    text-shadow: 0 0 5.5px #ffb5b5;
    font-size: 25px;
    color: #eca89f;
    font-family: Georgia;
    transition: 0.3s;
}
.article-but:hover {
    text-shadow: 0 0 5.5px #d4a660;
    font-size: 35px;
    background-image: linear-gradient(to bottom right, #f2b75f, #fbf2c9);
    box-shadow: 0 0 5px 4.5px #ebb550;
}
.social:hover {
    text-shadow: 0 0 5.5px #d4a660;
    background-image: linear-gradient(to bottom right, #f2b75f, #fbf2c9);
    box-shadow: 0 0 5px 4.5px #ebb550;
    font-size: 22.5px;
}
.post-img {
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px 5px #f56c73;
    border-radius: 7.5px;
    transition: 0.3s;
}
.post-img:hover {
    width: 425px;
    height: 325px;
    box-shadow: 0 0 12.5px 9.5px #ebb550;
    margin: -20px;
}
article {
    text-align: center;
    color: #eca89f;
    transition: 0.3s;
    text-shadow: 0 0 5.5px #f8cdcd;
    box-shadow: 0 0 10px 5px #f56c73;
    border-radius: 7.5px;
}
article:hover {
    color: #f2b75f;
    text-shadow: 0 0 5.5px #ffe7c3;
    box-shadow: 0 0 15px 7.5px #ebb550;
}
.address, .tel {
    color: #f56c73;
    transition: 0.3s;
    font-size: 25px;
}
.address:hover, .tel:hover {
    color: #ebb550;
    text-shadow: 0 0 5.5px #ffe7c3;
    font-size: 35px;
}
footer:hover {
    box-shadow: 0 0 15px 7.5px #ebb550;
}
.pro, .stars {
    height: 50px;
    position: relative;
}
.pro {
    top: 93px;
    left: 125px;
}
.stars {
    bottom:85px;
    left: 615px;
}
