body {
    font-family: Helvetica;
    background-image: linear-gradient(to bottom right, #e7fafd, #f8f2ff);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-image: linear-gradient(to bottom right, #81f1ec, #7638da);
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
    text-shadow: 0 0 5.5px #81f1ec;
    box-shadow: 0 0 3.5px 2.5px #1b19ad;
    transition: 0.3s;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}
h1 {
    text-align: center;
    color: #7889eb;
    transition: 0.3s;
    text-shadow: 0 0 5px #cde5f8;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}
.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-image: linear-gradient(to bottom right, #5f7af2, #c9d9fb);
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
    border-radius: 7.5px;
    box-shadow: 0 0 3.5px 2.5px #5053eb;
    transition: 0.3s;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    color: white;
    position: fixed;
    top: 250px;
    right: 0px;
    background-image: linear-gradient(to bottom right, #81f1ec, #7638da);
    width: 97.5px;
    box-shadow: 0 0 3.5px 2.5px #1b19ad;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0 0 5.5px #81f1ec;
    transition: 0.3s;
    font-size: 15px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
    transition: 0.3s;
    text-shadow: 0 0 5.5px #cddbf8;
    color: #9fabec;
    width: 100%;
    height: 175px;
    border-top: 12.5px double #505feb;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.iphone13 {
    position: relative;
}
.proffesionals {
    position: absolute;
    left: 455px;
}
.button:hover {
    transform: scale(1.25);
    margin: 25px;
}
.nav-link:hover {
    text-shadow: 0 0 5.5px #b5e8ff;
    color: #07acb8;
    border: 7.5px double #3b5ae6;
    background-image: linear-gradient(to bottom right, #ecf9ff, #b5e8ff);
}
.nav-link {
    text-shadow: 0 0 5.5px #b5e8ff;
    font-size: 25px;
    color: #3b5ae6;
    transition: 0.3s;
    text-decoration: none;
    display: block;
    font-family: courier new;
    border: 4.5px solid white;
    padding: 7.5px;
    border-radius: 10px;
    box-shadow: 0 0 5.5px 1.5px #1b19ad;
}
.article-but:hover {
    transform:scale(1.15);
}
.social:hover {
    transform:scale(1.25);
    margin:25px;
}
.post-img {
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px 5px #76aaee;
    border-radius: 7.5px;
    transition: 0.3s;
}
.post-img:hover {
    width: 425px;
    height: 325px;
    margin: -20px;
}
article {
    text-align: center;
    color: #76aaee;
    transition: 0.3s;
    text-shadow: 0 0 5.5px #dbdaff;
    box-shadow: 0 0 10px 5px #76aaee;
    border-radius: 7.5px;
}
.address, .tel {
    text-shadow: 0 0 5.5px #b5e8ff;
    color: #3b5ae6;
    transition: 0.3s;
    font-size: 25px;
    display: inline-block;
}
.address:hover, .tel:hover {
    text-shadow: 0 0 5.5px #b5e8ff;
    color: #07acb8;
    font-size: 30px;
}
.pro, .stars {
    height: 50px;
    position: relative;
}
.pro {
    top: 93px;
    left: 425px;
}
.stars {
    bottom:85px;
    left: 895px;
}
